.lab {
    position: absolute;
    transition: 0.3s ease-in-out;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    /* background-color: white; */
}
.inp{
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;


}
.inp:focus + .lab,
.inp:valid + .lab {
    transform: translate(-12px, -30px) scale(0.90);
}
